// Variables

$colors: (
    primary: #000,
    primary-light: lighten(#000, 30%),
    primary-dark: lighten(#000, 12%),
    accent: #F7F573,

    white: #FFF,
    tags: #336FFF
);

$padding: 5px;
$borders: 5px;

// Font weights
$normal: 300;
$thin: 100;

$desktop: 840px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

// Body

body, html {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;

    font-family: 'lato';

    #bg {
        position: fixed;
        z-index: -1;

        width: 100%;
        height: 100%;

        background-color: map-get($colors, primary);
    }

    nav {
        position: fixed;
        z-index: 1;
        top: 0;

        overflow: hidden;

        width: 100%;

        background-color: map-get($colors, primary-dark);

          .nav-logo {
              width: 30px;
              padding: 10px;
              //background-color: #fff;
          }

            ul {
              margin: 0;
              padding: 0px;

              list-style-type: none;
              list-style-type: none;

              text-align: center;

              li {
                display: inline;
                //font-family: "Fira Sans", sans-serif;

                font-size: 17px;

                a {
                  padding: 14px;

                  text-decoration: none;

                  color: #f2f2f2;
                  &:hover {
                    background-color: #111;
                  }
                }
              }
            }

              /* Popup container */
              .phone-popup {
                position: relative;
                display: inline-block;
                cursor: pointer;
              }

              /* The actual popup (appears on top) */
              .phone-popup .phone-popuptext {
                visibility: hidden;
                width: 160px;
                background-color: #555;
                color: #fff;
                text-align: center;
                border-radius: 6px;
                padding: 8px 0;
                position: absolute;
                z-index: 1;
                bottom: 125%;
                left: 50%;
                margin-left: -80px;
              }

              /* Popup arrow */
              .phone-popup .phone-popuptext::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #555 transparent transparent transparent;
              }

              /* Toggle this class when clicking on the popup container (hide and show the popup) */
              .phone-popup .show {
                visibility: visible;
                -webkit-animation: fadeIn 1s;
                animation: fadeIn 1s
              }

              /* Add animation (fade in the popup) */
              @-webkit-keyframes fadeIn {
                from {opacity: 0;}
                to {opacity: 1;}
              }

              @keyframes fadeIn {
                from {opacity: 0;}
                to {opacity:1 ;}
              }
          }


    header {
        margin: 0;
        padding: 60px 0 20px 0;
    }

    h1 {
        display: block;

        padding: 5px;

        text-align: center;
        text-decoration: none;
        text-transform: uppercase;

        color: map-get($colors, white);

        font-size: 3.25em;
        font-weight: $normal;

            @include desktop {
                font-size: 6em;
                font-weight: $thin;
            }
    }

    h2 {
        display: block;

        padding: 5px;

        text-align: center;
        text-decoration: none;
        letter-spacing: .25em;
        text-transform: uppercase;

        color: map-get($colors, accent);

        font-size: 1.5em;
        font-weight: $normal;

            @include desktop {
                font-size: 3em;
                font-weight: $thin;
            }
    }

    h4 {
        padding: 10px;

        text-align: center;
        text-decoration: none;
        letter-spacing: .25em;
        text-transform: uppercase;

        color: map-get($colors, accent);

        font-size: 1.5em;
        font-weight: $normal;

          @include desktop {
              font-size: 1.5em;
              font-weight: $thin;
          }
    }

    p {
        padding: 15px;

        text-align: center;
        text-decoration: none;
        letter-spacing: .2em;

        color: map-get($colors, white);

        font-size: 1em;
        font-weight: $normal;

        @include desktop {
            font-size: 1em;
            font-weight: $thin;
        }
    }

    //css reset - text
    h1, h2, h3, h4, h5, p {
        //color: #FFF;
        margin: 0;
    }

    main {
          display: block;

          padding: $padding;

          .cards{
              @include desktop {
                  display: grid;

                  grid-template-columns: 1fr 1fr 1fr;
                  grid-template-rows: auto;
                  grid-gap: 10px;
              }

              // -webkit-transition-property: width height background-color font-size left top color;
              // -webkit-transition-duration: 2s;
              // -webkit-transition-delay: 1s;
              // -webkit-transition-timing-function: linear;
              // transition-property: width height background-color font-size left top color;
              // transition-duration: 2s;
              // transition-delay: 1s;
              // transition-timing-function: linear;
          }


          .card {
              position: relative;
              top: 0;

              width: 80%;
              margin: 3em auto;
              padding: $padding;

              transition: all .2s ease-in;

              border-radius: 5px;
              background-color: map-get($colors, primary-dark);

                  @include desktop {
                      margin: 1em auto;
                  }

          }

          .card:hover {
              top: -2px;
            }

          .card-img {
              display: block;

              width: 95%;
              margin: .5em auto;

              border-radius: $borders;
              box-shadow: 0 10px 30px rgba(0,0,0,.2);
          }

          .card-text-container {
              display: flex;
              flex: 1;
              flex-direction: column;
              justify-content: space-between;
          }

          .cards a {
              text-decoration: none;
          }

          .card-tag {
              letter-spacing: .2em;

              color: map-get($colors, tags);
          }


    }

    footer {
        margin: 0 auto;
        padding: 10px;

        .copyright {
        //
        }
    }
}
