/* line 38, Users/jamesbennetts/Sites/Projects/bennetronic.github.io/css/main.scss */
body, html {
		height: 100%;
		margin: 0;
}

/* line 43, Users/jamesbennetts/Sites/Projects/bennetronic.github.io/css/main.scss */
body {
		margin: 0;
		font-family: 'lato';
}

/* line 48, Users/jamesbennetts/Sites/Projects/bennetronic.github.io/css/main.scss */
body #bg {
		position: fixed;
		z-index: -1;
		width: 100%;
		height: 100%;
		background-color: #000;
}

/* line 58, Users/jamesbennetts/Sites/Projects/bennetronic.github.io/css/main.scss */
body nav {
		position: fixed;
		z-index: 1;
		top: 0;
		overflow: hidden;
		width: 100%;
		background-color: #1f1f1f;
}

/* line 69, Users/jamesbennetts/Sites/Projects/bennetronic.github.io/css/main.scss */
body nav .nav-logo {
		width: 30px;
		padding: 10px;
}

@media (max-width: 325px) {
		/* line 69, Users/jamesbennetts/Sites/Projects/bennetronic.github.io/css/main.scss */
		body nav .nav-logo {
				padding: 5px;
		}
}

/* line 79, Users/jamesbennetts/Sites/Projects/bennetronic.github.io/css/main.scss */
body nav ul {
		margin: 0;
		padding: 0px;
		list-style-type: none;
		list-style-type: none;
		text-align: center;
}

/* line 88, Users/jamesbennetts/Sites/Projects/bennetronic.github.io/css/main.scss */
body nav ul li {
		display: inline;
		font-size: 17px;
}

/* line 94, Users/jamesbennetts/Sites/Projects/bennetronic.github.io/css/main.scss */
body nav ul li a {
		padding: 14px;
		text-decoration: none;
		color: #f2f2f2;
}

/* line 100, Users/jamesbennetts/Sites/Projects/bennetronic.github.io/css/main.scss */
body nav ul li a:hover {
		background-color: #111;
}

/* line 109, Users/jamesbennetts/Sites/Projects/bennetronic.github.io/css/main.scss */
body header {
		margin: 0;
		padding: 100px 0 20px 0;
}

@media (min-width: 840px) {
		/* line 109, Users/jamesbennetts/Sites/Projects/bennetronic.github.io/css/main.scss */
		body header {
				margin: 0;
				padding: 60px 0 20px 0;
		}
}

/* line 119, Users/jamesbennetts/Sites/Projects/bennetronic.github.io/css/main.scss */
body h1 {
		display: block;
		padding: 5px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		color: #FFF;
		font-size: 3.25em;
		font-weight: 300;
}

@media (min-width: 840px) {
		/* line 119, Users/jamesbennetts/Sites/Projects/bennetronic.github.io/css/main.scss */
		body h1 {
				font-size: 6em;
				font-weight: 100;
		}
}

/* line 139, Users/jamesbennetts/Sites/Projects/bennetronic.github.io/css/main.scss */
body h2 {
		display: block;
		padding: 5px;
		text-align: center;
		text-decoration: none;
		letter-spacing: .25em;
		text-transform: uppercase;
		color: #F7F573;
		font-size: 1.5em;
		font-weight: 300;
}

@media (min-width: 840px) {
		/* line 139, Users/jamesbennetts/Sites/Projects/bennetronic.github.io/css/main.scss */
		body h2 {
				font-size: 3em;
				font-weight: 100;
		}
}

/* line 160, Users/jamesbennetts/Sites/Projects/bennetronic.github.io/css/main.scss */
body h4 {
		padding: 10px;
		text-align: center;
		text-decoration: none;
		letter-spacing: .25em;
		text-transform: uppercase;
		color: #F7F573;
		font-size: 1.5em;
		font-weight: 300;
}

@media (min-width: 840px) {
		/* line 160, Users/jamesbennetts/Sites/Projects/bennetronic.github.io/css/main.scss */
		body h4 {
				font-size: 1.5em;
				font-weight: 100;
		}
}

/* line 179, Users/jamesbennetts/Sites/Projects/bennetronic.github.io/css/main.scss */
body p {
		padding: 15px;
		text-align: center;
		text-decoration: none;
		letter-spacing: .2em;
		color: #FFF;
		font-size: 1em;
		font-weight: 300;
}

@media (min-width: 840px) {
		/* line 179, Users/jamesbennetts/Sites/Projects/bennetronic.github.io/css/main.scss */
		body p {
				font-size: 1em;
				font-weight: 100;
		}
}

/* line 198, Users/jamesbennetts/Sites/Projects/bennetronic.github.io/css/main.scss */
body h1, body h2, body h3, body h4, body h5, body p {
		margin: 0;
}

/* line 203, Users/jamesbennetts/Sites/Projects/bennetronic.github.io/css/main.scss */
body main {
		display: block;
		padding: 5px;
}

@media (min-width: 840px) {
		/* line 208, Users/jamesbennetts/Sites/Projects/bennetronic.github.io/css/main.scss */
		body main .cards {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				grid-template-rows: auto;
				grid-gap: 10px;
		}
}

/* line 228, Users/jamesbennetts/Sites/Projects/bennetronic.github.io/css/main.scss */
body main .card {
		position: relative;
		top: 0;
		width: 80%;
		margin: 3em auto;
		padding: 5px;
		transition: all .2s ease-in;
		border-radius: 5px;
		background-color: #1f1f1f;
}

@media (min-width: 840px) {
		/* line 228, Users/jamesbennetts/Sites/Projects/bennetronic.github.io/css/main.scss */
		body main .card {
				margin: 1em auto;
		}
}

/* line 247, Users/jamesbennetts/Sites/Projects/bennetronic.github.io/css/main.scss */
body main .card:hover {
		top: -2px;
}

/* line 251, Users/jamesbennetts/Sites/Projects/bennetronic.github.io/css/main.scss */
body main .card-img {
		display: block;
		width: 95%;
		margin: .5em auto;
		border-radius: 5px;
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

/* line 261, Users/jamesbennetts/Sites/Projects/bennetronic.github.io/css/main.scss */
body main .card-text-container {
		display: flex;
		flex: 1;
		flex-direction: column;
		justify-content: space-between;
}

/* line 274, Users/jamesbennetts/Sites/Projects/bennetronic.github.io/css/main.scss */
body main .cards a {
		text-decoration: none;
}

/* line 278, Users/jamesbennetts/Sites/Projects/bennetronic.github.io/css/main.scss */
body main .card-tag {
		letter-spacing: .2em;
		color: #336FFF;
}

@media (min-width: 840px) {
		/* line 278, Users/jamesbennetts/Sites/Projects/bennetronic.github.io/css/main.scss */
		body main .card-tag {
				align-self: bottom;
		}
}

/* line 290, Users/jamesbennetts/Sites/Projects/bennetronic.github.io/css/main.scss */
body footer {
		margin: 0 auto;
		padding: 10px;
}

/*# sourceMappingURL=main.css.map */