body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:50px;
  font-size:18px;
  color:#777777;
  text-align:center;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:50px;
}
#u1_img.mouseOver {
}
#u1.mouseOver {
}
#u2 {
  position:absolute;
  left:0px;
  top:17px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
  text-shadow:0px -1px 0px rgba(0, 0, 0, 0.247058823529412);
  -webkit-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.247058823529412);
  -moz-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.247058823529412);
}
#u3 {
  position:absolute;
  left:658px;
  top:1px;
  width:67px;
  height:48px;
  font-family:'CenturyGothic', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#777777;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:48px;
}
#u3_img.selected {
}
#u3.selected {
}
#u3_img.mouseOver {
}
#u3.mouseOver {
}
#u4 {
  position:absolute;
  left:0px;
  top:31px;
  width:67px;
  word-wrap:break-word;
  text-shadow:0px -1px 0px rgba(0, 0, 0, 0.247058823529412);
  -webkit-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.247058823529412);
  -moz-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.247058823529412);
}
#u5 {
  position:absolute;
  left:725px;
  top:1px;
  width:67px;
  height:48px;
  font-family:'CenturyGothic', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#777777;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:48px;
}
#u5_img.selected {
}
#u5.selected {
}
#u5_img.mouseOver {
}
#u5.mouseOver {
}
#u6 {
  position:absolute;
  left:0px;
  top:31px;
  width:67px;
  word-wrap:break-word;
  text-shadow:0px -1px 0px rgba(0, 0, 0, 0.247058823529412);
  -webkit-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.247058823529412);
  -moz-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.247058823529412);
}
#u7 {
  position:absolute;
  left:792px;
  top:1px;
  width:78px;
  height:48px;
  font-family:'CenturyGothic', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#777777;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:48px;
}
#u7_img.selected {
}
#u7.selected {
}
#u7_img.mouseOver {
}
#u7.mouseOver {
}
#u8 {
  position:absolute;
  left:0px;
  top:31px;
  width:78px;
  word-wrap:break-word;
  text-shadow:0px -1px 0px rgba(0, 0, 0, 0.247058823529412);
  -webkit-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.247058823529412);
  -moz-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.247058823529412);
}
#u9 {
  position:absolute;
  left:852px;
  top:0px;
  width:108px;
  height:48px;
  font-family:'CenturyGothic', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#777777;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:48px;
}
#u9_img.selected {
}
#u9.selected {
}
#u9_img.mouseOver {
}
#u9.mouseOver {
}
#u10 {
  position:absolute;
  left:0px;
  top:31px;
  width:108px;
  word-wrap:break-word;
  text-shadow:0px -1px 0px rgba(0, 0, 0, 0.247058823529412);
  -webkit-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.247058823529412);
  -moz-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.247058823529412);
}
#u11 {
  position:absolute;
  left:440px;
  top:23px;
  width:8px;
  height:4px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:4px;
}
#u11_img.selected {
}
#u11.selected {
}
#u12 {
  position:absolute;
  left:2px;
  top:-6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:348px;
  top:49px;
  visibility:hidden;
}
#u13_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u13_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:184px;
}
#u14_img {
  position:absolute;
  left:-12px;
  top:-6px;
  width:223px;
  height:208px;
}
#u15 {
  position:absolute;
  left:2px;
  top:84px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1px;
  top:32px;
  width:197px;
  height:26px;
  font-size:14px;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:26px;
}
#u16_img.mouseOver {
}
#u16.mouseOver {
}
#u17 {
  position:absolute;
  left:20px;
  top:5px;
  width:175px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1px;
  top:58px;
  width:197px;
  height:26px;
  font-size:14px;
  text-align:left;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:26px;
}
#u18_img.mouseOver {
}
#u18.mouseOver {
}
#u19 {
  position:absolute;
  left:20px;
  top:5px;
  width:175px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1px;
  top:126px;
  width:197px;
  height:26px;
  font-size:14px;
  text-align:left;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:26px;
}
#u20_img.mouseOver {
}
#u20.mouseOver {
}
#u21 {
  position:absolute;
  left:20px;
  top:5px;
  width:175px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1px;
  top:89px;
  width:197px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:180px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:197px;
  height:1px;
}
#u23 {
  position:absolute;
  left:1px;
  top:6px;
  width:197px;
  height:26px;
  font-size:14px;
  text-align:left;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:26px;
}
#u23_img.mouseOver {
}
#u23.mouseOver {
}
#u24 {
  position:absolute;
  left:20px;
  top:5px;
  width:175px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:1px;
  top:152px;
  width:197px;
  height:26px;
  font-size:14px;
  text-align:left;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:26px;
}
#u25_img.mouseOver {
}
#u25.mouseOver {
}
#u26 {
  position:absolute;
  left:20px;
  top:5px;
  width:175px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:1px;
  top:103px;
  width:197px;
  height:23px;
  color:#777777;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:23px;
}
#u28 {
  position:absolute;
  left:20px;
  top:4px;
  width:177px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:20px;
  top:0px;
  width:140px;
  height:50px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u30 {
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:50px;
  width:960px;
  height:200px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:200px;
}
#u32 {
  position:absolute;
  left:2px;
  top:92px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:610px;
  top:340px;
  width:90px;
  height:28px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:28px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:50px;
  top:340px;
  width:450px;
  height:358px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:358px;
}
#u36 {
  position:absolute;
  left:2px;
  top:172px;
  width:446px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:0px;
  top:800px;
  width:960px;
  height:130px;
  color:#FFFFFF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:130px;
}
#u39 {
  position:absolute;
  left:2px;
  top:57px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:64px;
  top:818px;
  width:100px;
  height:17px;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:64px;
  top:842px;
  width:236px;
  height:48px;
  font-family:'CenturyGothic', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:48px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:728px;
  top:820px;
  width:74px;
  height:17px;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:17px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:728px;
  top:842px;
  width:152px;
  height:80px;
  font-family:'CenturyGothic', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:80px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:435px;
  top:818px;
  width:54px;
  height:17px;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:435px;
  top:842px;
  width:145px;
  height:105px;
  font-family:'CenturyGothic', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:105px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:0px;
  top:940px;
  width:960px;
  height:30px;
  color:#333333;
  text-align:center;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:30px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:320px;
  top:810px;
  width:10px;
  height:110px;
}
#u54_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u54_end {
  position:absolute;
  left:-5px;
  top:93px;
  width:20px;
  height:18px;
}
#u54_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:110px;
}
#u55 {
  position:absolute;
  left:640px;
  top:810px;
  width:10px;
  height:110px;
}
#u55_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u55_end {
  position:absolute;
  left:-5px;
  top:93px;
  width:20px;
  height:18px;
}
#u55_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:110px;
}
#u57 {
  position:absolute;
  left:610px;
  top:408px;
  width:280px;
  height:25px;
}
#u57_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u58 {
  position:absolute;
  left:610px;
  top:453px;
  width:280px;
  height:25px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u59 {
  position:absolute;
  left:610px;
  top:538px;
  width:280px;
  height:160px;
}
#u59_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:160px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u60 {
  position:absolute;
  left:547px;
  top:413px;
  width:35px;
  height:15px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:15px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:547px;
  top:458px;
  width:34px;
  height:15px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:15px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:547px;
  top:498px;
  width:38px;
  height:15px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:15px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:610px;
  top:493px;
  width:280px;
  height:25px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u67 {
  position:absolute;
  left:547px;
  top:543px;
  width:54px;
  height:15px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:15px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
